@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-white font-semibold font-sans  snap-y ;
  }
  body {
   @apply h-[100vh] bg-slate-600; 
    #__next {
      @apply flex min-w-full max-w-full min-h-full;
    }
  }
}

@layer components {
  section {
    @apply flex w-full max-w-[90%] scroll-mt-[84px] lg:scroll-mt-[128px] xl:scroll-mt-[-132px] content-center justify-center gap-4 place-self-center mx-auto my-8;
  }
  legend {
    @apply text-outline;
  }
  thead th {
    @apply min-w-32 whitespace-pre-line bg-slate-900;
    button {
      @apply w-full;
      .button-arrows {
        i:before {
          @apply text-base xl:text-lg;
        }
      }
    }
  }
  tbody tr {
    @apply odd:bg-slate-700 even:bg-slate-800;
  }
}

@layer utilities {
  .input-hover {
    @apply hover:shadow-outline hover:shadow-yellow-200;
  }
  .carousel-slide {
    @apply transition-transform duration-200 ease-in-out;
  }
  .carousel-button {
    @apply flex absolute size-10 lg:size-12 pb-2 top-0 bottom-0 self-center justify-center items-center bg-gray-800 text-white rounded-xl border-2 border-white border-solid z-10;
    i:before {
      @apply text-base lg:text-xl;
    }
  }
  .accordion-panel {
    @apply max-h-0 flex w-full flex-col gap-4 px-6 bg-slate-900 rounded-b-lg;
    transition: max-height 0.1s ease-in-out, padding 0.1s ease-in-out;
  }
  .sticky-header {
    @apply sticky w-full top-0 z-50;
  }
  .sticky-below-header {
    @apply sticky top-[72px] lg:top-[116px] xl:top-[120px] z-10;
  }
  .sticky-table-header {
    @apply sticky top-0 z-40;
  }
  .tfd-link, .home-link {
    @apply hover:text-yellow-200  min-w-max self-center w-full py-1;
  }
  .text-link {
    @apply text-2xl lg:text-xl xl:text-2xl font-semibold;
  }
  .tfd-link {
    @apply rounded-xl px-4 hover:bg-slate-400;
  }
  .disabled-link {
    @apply pointer-events-none text-yellow-200;
  }
  .tfd-link-icon {
    @apply before:text-2xl md:before:text-3xl;
  }
  .button {
    @apply justify-center items-center bg-gray-800 text-white rounded-xl border-2 border-white border-solid py-3 px-5 disabled:bg-gray-900 disabled:text-yellow-200;
  }
  .social {
    .fa-discord {
      @apply text-[#7289da];
    }
    .fa-twitter { 
      @apply text-sky-500 hover:text-sky-300 focus:text-sky-300 active:text-sky-300;
    }
    .fa-twitch { 
      @apply text-violet-600 hover:text-violet-400 focus:text-violet-400  active:text-violet-400 ;
    }
    .fa-spotify { 
      @apply text-green-500 hover:text-green-300 focus:text-green-300 active:text-green-300;
    }
    .fa-steam { 
      @apply text-slate-600 hover:text-slate-400 focus:text-slate-400 active:text-slate-400;
    }
    .fa-instagram { 
      @apply text-fuchsia-600 hover:text-fuchsia-400 focus:text-fuchsia-400 active:text-fuchsia-400;
    }
  }
  .table-wrapper {
    scrollbar-width: thin;
    scrollbar-color: #94a3b8 #0f172a;
  }
  .fragment-data, .pattern-data {
    .label-non-attribute {
      @apply text-neutral-100;
    }
    .label-chill {
      @apply text-blue-300;
    }
    .label-fire {
      @apply text-red-500;
    }
    .label-electric {
      @apply text-electric;
    }
    .label-toxic {
      @apply text-toxic;
    }
    .label-high-value {
      @apply text-yellow-200;
    }
  }
  .subregion-data, .pattern-data {
    .label-kingston {
      @apply text-slate-100;
    }
    .label-sterile-land {
      @apply text-orange-400;
    }
    .label-vespers {
      @apply text-emerald-600;
    }
    .label-echo-swamp {
      @apply text-lime-400;
    }
    .label-agna-desert {
      @apply text-amber-500;
    }
    .label-white-night-gulch {
      @apply text-lime-300;
    }
    .label-hagios {
      @apply text-orange-300;
    }
    .label-fortress {
      @apply text-slate-200;
    }
  }
  .weapon-data, .external-component-data, .pattern-data { 
    .bg-standard {
      @apply bg-tier-gradient from-blue-400 via-black to-blue-400;
    }
    .bg-rare {
      @apply bg-tier-gradient from-purple-500 via-black to-purple-500;
    }
    .bg-ultimate {
      @apply bg-tier-gradient from-yellow-200 via-black to-yellow-200;
    }
    .label-standard {
      @apply text-blue-400;
    }
    .label-rare {
      @apply text-purple-500;
    }
    .label-ultimate {
      @apply text-yellow-200;
    }
    .label-general-rounds {
      @apply text-neutral-100;
    }
    .label-high-power-rounds {
      @apply text-high-power-rounds;
    }
    .label-impact-rounds {
      @apply text-impact-rounds;
    }
    .label-special-rounds {
      @apply text-special-rounds;
    }
  }
  .weapon-image {
    height: 128px;
    min-width: auto;
  }
  .external-component-image {
    height: 128px;
    min-width: 128px;
  }
  .diamond:before, .diamond:after {
    @apply bg-slate-900 absolute size-8 rotate-45 origin-center rounded-md; 
    content: '';
  }
  .hexagon {
    @apply bg-slate-900 absolute w-[32px] h-[17.32px] my-[9.66px] top-[-2.5px];
  }
  .hexagon:before,
  .hexagon:after {
    @apply absolute border-solid border-transparent border-x-[16px] w-0 left-0;
    content: '';
  }
  .hexagon:before {
    @apply border-b-slate-900 border-b-[9.66px] bottom-full;
  }
  .hexagon:after {
    @apply border-t-slate-900 border-t-[9.66px] w-0 top-full;
  }
  .rounded-square:before {
    @apply bg-slate-900 absolute size-9 rounded-md top-[-2px] left-[-2px];
    content: '';
  }
  .text-outline {
    text-shadow: 
      1px 1px 0 black,
      -1px 1px 0 black,
      -1px -1px 0 black,
      1px -1px 0 black; 
  }
}